*{ 
	margin:0;
	padding:0;
}
.board{
	width: 100%;
	height: 100%;
	display:flex;
	flex-wrap: wrap;
	background-color: red;
}
.Tile{
	width: 12.5%;
	height: 12.5%;
}
#alert{
	font-size: 2em;
	margin: left;
    size: 40px;
    color: darkorange;
}
body {
	
	background-image:url("texture.jfif");
	background-repeat:repeat;
  }
  
  ol, ul {
	padding-left: 30px;
  }
  
  .board-row:after {
	clear: both;
	content: "";
	display: table;
  }
  
  .status {
	margin-bottom: 10px;
  }
  
  .Block{
	background: transparent;
	border: 1px solid transparent;
	float: left;
	font-size: 24px;
	font-weight: bold;
	line-height: 34px;
	margin-right: -1px;
	margin-top: -1px;
	padding: 0;
	text-align: center;
	height: 100px;
	width: 100px;
  }
  
  .Block :focus {
	outline: none;
  }
  
  .kbd-navigation .Block :focus {
	background: #ddd;
  }
  
  .game-info {
	margin-left: 20px;
  }
  
  .icons-attribution, .game-status, .fallen-soldier-block{
	font-size: large;
	color:white;
	margin-top: 20px;
	min-height: 50px;
  }
  
  .dark-Block {
  background-color: RGB(255, 102, 0);
  }
  
  .light-Block{
	  background-color: RGB(255, 204, 153);
  }
  
  #player-turn-box{
	width: 32px;
	height: 32px;
	border: 1px solid #000;
	margin-bottom: 10px;
  }
  
  h3{
	margin-bottom: 5px;
  }

  body {
    background: no-repeat linear-gradient(180deg, #2cb5e8 0%, #ffffff 100%);
    font-family: "Comic Sans MS", cursive, sans-serif;
  }
  
  .main-container {
    width: 300px;
    margin: 0 auto;
  }
  
  .app-title {
    color: white;
    text-shadow: 1px 1px 1px dimgray;
  }
  
  .room-window {
    padding: 5px;
    background-color: white;
    border: lightgray solid 1px;
    border-radius: 5px;
    width: 100%;
  }
  
  .room-text {
    width: 100%;
    height: 300px;
    overflow: auto;
    font-size: 16px;
  }
  
  .room-feedback {
    color: gray;
    width: 100%;
    font-size: 12px;
    visibility: hidden;
  }
  
  .text-user {
    display: block;
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    border: lightgray solid 1px;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .text-message {
    display: block;
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    border: lightgray solid 1px;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .send-btn {
    margin-top: 5px;
    display: block;
    width: 104%;
    border: none;
    border-radius: 5px;
    background-color: navy;
    color: white;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
  }
  